/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,400;0,500;1,400&display=swap');

/* @font-face {
   font-family: "Petrona";
   src: url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,400;0,500;1,400&display=swap');
} */

/* $font-family: 'Petrona', serif; */
/* $heading-family-base: 'Petrona', serif; */

h1, h2, h3, body {
    font-family: "Petrona", serif;
  }

/* Petrona - latin */





/* @font-face {
  font-family: 'Petrona';
  font-style: normal;
  font-weight: 700;
  src: local(""),
       url("style/Petrona/static/Petrona-Regular.ttf") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+
}
